footer {
  background-color: rgb(63, 60, 60);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  position: unset;

  bottom: 0%;
  height: 5%;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 14px;
}
